---
layout: page
---
<div class="post">
  <article>
    {% if page.partners %}
      {% for partner in page.partners %}
        <hr>
        <div class="partner float-{% if partner.align == 'left' %}left{% else %}right{% endif %}">
          {% if partner.image %}
            {% assign partner_image_path = partner.image | prepend: 'assets/img/' %}
            {% if partner.image_circular %}
              {% assign partner_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign partner_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=partner_image_path class=partner_image_class sizes=sizes alt=partner.image %}
          {% endif %}
          {% if partner.more_info %}
            <div class="more-info">{{ partner.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if partner.content %}
            {% capture partner_content %}{% include_relative {{ partner.content }} %}{% endcapture %}
            {{ partner_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
