---
layout: page
---
<div class="post">
  <article>
    {% if page.partners %}
      {% for partners in page.partners %}
        <hr>
        <div class="partners float-{% if partners.align == 'left' %}left{% else %}right{% endif %}">
          {% if partners.image %}
            {% assign partners_image_path = partners.image | prepend: 'assets/img/' %}
            {% if partners.image_circular %}
              {% assign partners_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign partners_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=partners_image_path class=partners_image_class sizes=sizes alt=partners.image %}
          {% endif %}
          {% if partners.more_info %}
            <div class="more-info">{{ partners.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if partners.content %}
            {% capture partners_content %}{% include_relative {{ partners.content }} %}{% endcapture %}
            {{ partners_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
